<section>
	<div class="container request-report">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<button href="{{paragraph.field_link_1.uri}}" class="btn_orange preview_btn">{{paragraph.field_link_1.title}}</button>
			</div>
			<div class="col-md-6 col-sm-6">
				<button href="{{paragraph.field_link_2.uri}}" class="btn_orange report_btn">{{paragraph.field_link_2.title}}</button>					
			</div>
		</div>
	</div>
		{# <hr style="border-top: 1px solid #939592;margin-bottom: 0;"> #}
</section>